.Cast {
  display: inline-block;
  border-radius: 3px;
  margin-right: 20px;
}

.Cast:last-child {
  border-right: 20px solid rgba(0,0,0,0);
}

.Cast__picture {
  width: 70px;
  min-height: 105px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #1f2736;
  box-shadow: 2px 2px 3px #1a212e;
  white-space: normal;
}

.Cast__name {
  width: 70px;
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 1920px) {
  .Cast__picture {
    width: 90px;
    height: 135px;
    border-radius: 5px;
  }
  .Cast__name {
    width: 80px;
    font-size: 16px;
  }
}
