.Grid {
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  max-height: calc(100vh - 50px);
  /* we set it to 'display: block' so that in case there is no data to show while in 'search'
  the 'search box' appears at it's full width right from the start. We set it to
  'display: grid' in render() of Grid.js if there's any data to show on the grid */
  display: block;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: 10px;
  background-color: #1B1F2B;
  overflow-y: auto;
}

.grid__search_box {
  width: 90%;
  margin: 20px auto;
}

.grid__search_box p {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Grid__next,
.Grid__prev {
  color: white;
  padding: 5px;
  border-radius: 6px;
  background-color: #242937;
  grid-column: 1 / 3;
}

.Grid__next:hover,
.Grid__prev:hover {
  cursor: pointer;
  background-color: #292f3e;
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .Grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-gap: 15px;
    padding: 15px 40px;
  }
  .grid__search_box {
    width: 70%
  }
  .Grid__next {
    grid-column: 1 / 4;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Grid {
    grid-template-columns: repeat(4, minmax(min-content, max-content));
  }
  .grid__search_box {
    width: 60%;
  }
  .Grid__next {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1025px) {
  .Grid {
    margin-top: 0;
    max-height: initial;
    width: calc(100vw - 310px);
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    margin-left: auto;
  }
  .grid__search_box {
    width: 60%;
  }
  .Grid__next {
    grid-column: 1 / 6;
  }
}

@media (min-width: 1200px) {
  .Grid {
    grid-template-columns: repeat(5, minmax(min-content, max-content));
  }
}
