.Grid {
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  max-height: calc(100vh - 50px);
  /* we set it to 'display: block' so that in case there is no data to show while in 'search'
  the 'search box' appears at it's full width right from the start. We set it to
  'display: grid' in render() of Grid.js if there's any data to show on the grid */
  display: block;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: 10px;
  background-color: #1B1F2B;
  overflow-y: auto;
}

.grid__search_box {
  width: 90%;
  margin: 20px auto;
}

.grid__search_box p {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Grid__next,
.Grid__prev {
  color: white;
  padding: 5px;
  border-radius: 6px;
  background-color: #242937;
  grid-column: 2 / 3;
}

.Grid__prev {
  grid-column: 1 / 2;
}

.Grid__next:hover,
.Grid__prev:hover {
  cursor: pointer;
  background-color: #292f3e;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  top: 60px;
  left: calc(50% - 30px);
  margin-left: auto;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .Grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-gap: 15px;
    padding: 15px 40px;
  }
  .grid__search_box {
    width: 70%;
  }
  .Grid__next {
    grid-column: 2 / 3;
  }
  .Grid__prev {
    grid-column: 1 / 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Grid {
    grid-template-columns: repeat(4, minmax(min-content, max-content));
  }
  .grid__search_box {
    width: 60%;
  }
  .Grid__next {
    grid-column: 3 / 4;
  }
  .Grid__prev {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1025px) {
  .Grid {
    margin-top: 0;
    max-height: initial;
    max-width: calc(100vw - 310px);
    width: calc(80vw - 10px);
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    margin-left: auto;
  }
  .grid__search_box {
    width: 60%;
  }
  .Grid__next {
    grid-column: 4 / 6;
  }
  .Grid__prev {
    grid-column: 1 / 3;
  }
  .lds-ellipsis {
    left: 58%;
  }
}

@media (min-width: 1200px) {
  .Grid {
    grid-template-columns: repeat(5, minmax(min-content, max-content));
  }
}

@media (min-width: 3840px) {
  .Grid {
    grid-gap: 20px;
    grid-template-columns: repeat(5, minmax(calc(97% / 5), max-content));
  }
  .Grid__next,
  .Grid__prev {
    font-size: 30px
  }
}
