.icon-star,
.icon-star-half-o,
.icon-star-o {
  color: #FFDD00;
  font-size: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.rate {
  position: relative;
  z-index: 10;
}

.DetailsCard__body .icon-star,
.DetailsCard__body .icon-star-half-o,
.DetailsCard__body .icon-star-o,
.DetailsCard__body .rate {
  font-size: 22px
}

@media (min-width: 1920px) {
  .icon-star,
  .icon-star-half-o,
  .icon-star-o {
    font-size: 20px;
  }
}

@media (min-width: 3840px) {
  .icon-star,
  .icon-star-half-o,
  .icon-star-o {
    font-size: 35px;
  }
  .DetailsCard__body .icon-star,
  .DetailsCard__body .icon-star-half-o,
  .DetailsCard__body .icon-star-o,
  .DetailsCard__body .rate {
    font-size: 40px
  }
}
