.menu__box {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  color: white;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(135deg, #2a3b49, #1d2a38);
  padding: 20px;
  transition: transform 0.4s ease-out;
}

.menu__box.is-showing {
  transform: translateX(-300px);
}

.menu__button {
  position: relative;
  width: 55px;
  padding: 10px;
  z-index: 10;
}

.menu__button span {
  display: block;
  width: 35px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  transform-origin: left;
  transition: transform 0.4s ease-out;
  will-change: transform;
}

.menu__button span:nth-child(2) {
  margin: 6px 0;
  transition: opacity 0.4s ease-out;
}

.menu__button.close-button span:first-child {
  transform: rotateZ(36deg);
}

.menu__button.close-button span:last-child {
  transform: rotateZ(-36deg);
}

.menu__button.close-button span:nth-child(2) {
  opacity: 0;
}

.menu__box__search_box {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.menu__box__search_input {
  width: 75%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #4a4a4a;
}

.menu__box__search_input:focus {
  outline-color: #1592f9;
}

.menu__box__search_button {
  width: 25%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #f16d2d;
}

.menu__lists {
  width: 100%;
  height: 80vh;
  margin: auto;
  margin-top: 60px;
  overflow-y: auto;
}

.menu__list {
  width: 70%;
  margin: 0 auto 30px auto;
  padding-left: 0;
}

.menu__list_title {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d25f27;
}

.menu__list li {
  list-style-type: none;
  text-align: left;
  margin-bottom: 5px;
}

.menu__list li:before {
  content: "- ";
  color: #f16d2d;
}

.menu__list li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.tmdb_logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
}

.tmdb_attribution {
  position: absolute;
  bottom: 5px;
  left: 20px;
  text-align: left;
  margin-right: 20px;
  font-size: 14px;
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape),
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu__lists {
    height: 75vh;
  }
  .tmdb_attribution {
    position: initial;
    text-align: justify;
  }
}
