.Card {
  color: white;
  background-color: #272a3b;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
  position: relative;
}

.Card__Poster {
  width: 100%;
  display: inline-block;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.currentCard .Card__Poster {
  max-width: 50vw;
}

.Card:hover {
  cursor: pointer;
}

.transition {
  will-change: transform;
  transition: transform 0.4s ease-out;
}

.Card__Info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 90px;
  width: 100%;
  padding: 5px 10px;
}

.Card__Info__title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  z-index: 10;
}

.Card_Person {
  background-color: #c6a131;
}

.Card_Person_Name {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #10161B;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .Card:not(.currentCard):hover {
    box-shadow: 0px 0px 11px 3px rgba(10,10,10,0.65);
    transform: scale(1.04);
    transform-origin: center;
    z-index: 50;
  }
}

@media (min-width: 1920px) {
  .Card__Info {
    height: 110px;
    padding: 10px 15px;
    font-size: 22px;
  }
}

@media (min-width: 3840px) {
  .Card {
    border-radius: 20px;
  }
  .Card__Info {
    font-size: 43px;
    height: 180px;
  }
  .Card_Person_Name {
    font-size: 45px;
  }
}
