.Header {
  width: 100%;
  height: 50px;
  padding: 0 5px;
  background-color: #5385d9;
  background: linear-gradient(#f16d2d, #d25f27);
  position: fixed;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__title {
  color: white;
  font-size: 21px;
}

.Backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: animateBD 0.4s forwards
}

@keyframes animateBD {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-angle-left,
.icon-home {
  color: white;
  font-size: 35px;
  position: relative;
  top: 2px;
  z-index: -10;
}

a .icon-home {
  text-decoration: none !important;
}

/* Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Header {
    width: 80vw;
  }
}
