.DesktopMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  padding: 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.4s ease-out;
  /* background: linear-gradient(135deg, #161c22, #0c1116); */
  background-color: #0d1116;
}

.DesktopMenu .menu__box__search_box {
  justify-content: center;
}

.genres {
  display: inline-block;
  margin-top: 15px;
}

.genres_dropdown {
  margin-top: 7px;
  width: 90%;
  height: 25px;
  border-radius: 2px;
  font-family: sans-serif;
  color: white;
  background-color: #191f28;
  border: 0;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .DesktopMenu {
    display: block;
  }
  .menu__app_title {
    display: block;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 40px;
    color: white !important;
  }
  .menu__app_title:hover {
    cursor: pointer;
  }
  .tmdb_attribution {
    background-color: #0d1116;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  .menu__app_title {
    font-size: 55px;
    margin-top: 60px;
  }
  .DesktopMenu .menu__box__search_box {
    margin: 35px 0;
  }
  .genres {
    font-size: 21px;
  }
  .genres_dropdown {
    margin-top: 15px;
    height: 33px;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 5px;
  }
}

@media (min-width: 3840px) {
  .menu__box__search_input,
  .menu__box__search_button {
    font-size: 30px;
    padding: 10px;
  }
  .menu__box__search_input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .menu__box__search_button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .menu__app_title {
    margin-top: 100px;
    font-size: 87px;
  }
  .menu__list {
    margin-bottom: 80px;
  }
  .menu__list_title {
    font-size: 50px;
  }
  .menu__list li a {
    font-size: 37px;
  }
  .tmdb_logo {
    width: 190px;
    top: 25px;
    left: 30px;
  }
  .DesktopMenu .menu__box__search_box {
    margin: 40px 0;
  }
  .genres {
    font-size: 37px;
  }
  .genres_dropdown {
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    font-size: 35px;
    padding-left: 10px;
  }
}
