.DesktopMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  padding: 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.4s ease-out;
  /* background: linear-gradient(135deg, #161c22, #0c1116); */
  background-color: #0d1116;
}

.genres {
  display: inline-block;
  margin-top: 15px;
}

.genres_dropdown {
  margin-top: 7px;
  width: 90%;
  height: 25px;
  border-radius: 2px;
  font-family: sans-serif;
  color: white;
  background-color: #191f28;
  border: 0;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .DesktopMenu {
    display: block;
  }
  .menu__app_title {
    display: block;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 40px;
    color: white !important;
  }
  .menu__app_title:hover {
    cursor: pointer;
  }
  .tmdb_attribution {
    background-color: #0d1116;
    text-align: center;
  }
}
