.App {
  text-align: center;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-color: #1B1F2B;
}

.Backdrop_desktop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  animation: animateBD 0.3s forwards;
  z-index: 10;
}

@keyframes animateBD {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Backdrop_desktop_close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Backdrop_desktop_close:hover {
  cursor: pointer;
}

.Backdrop_desktop_close span {
  display: block;
  border: 2px solid white;
  border-radius: 2px;
  background-color: white;
  width: 32px;
  transform-origin: left;
  transform: rotateZ(-45deg);
}

.Backdrop_desktop_close span:first-child {
  transform: rotateZ(45deg);
  margin-bottom: 18px;
}
