.App {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-areas: 'main' 'header';
  text-align: center;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #1B1F2B;
}

@media (min-width: 1025px) {
  .App {
    grid-template-columns: minmax(300px, 20vw) 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'menu header''menu main';
  }
}

