@import './reset.css';

/*
  Throughout the different stylesheets if we want to animate a change in
  width, height, position, etc... we use transforms (scale, translate...)
  because that is MUCH MORE efficient in an animation than changing its
  height, width or position (top, right, bottom, left).

  I also use the css property 'will-change: ' (along with 'transform' or 'opacity')
  so that the browser makes the appropriate optimizations to manipulate a component
  more efficiently. Although it is adviced to use this property as a last resource
  because it might cause performance issues if used too many times.

  For more info check this: https://aerotwist.com/blog/pixels-are-expensive/
  That page's blog is a good resource for best practices.
*/

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

p {
  line-height: 1.4rem;
}

h2, h3, p, span, a {
  letter-spacing: 0.3px;
}

@media (min-width: 1025px) and (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #151c24;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2f3742;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d59;
    border-radius: 4px;
  }
}

/* 4k resolutions */
@media (min-width: 3840px) and (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 23px;
    height: 23px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 7px;
  }
}
