.movie-card-info__tags__tag {
  display: inline-block;
  margin: 7px;
  padding: 4px 15px;
  background-color: #00D474;
  /* background-color: #54db67; */
  color: #323232;
  border-radius: 6px;
}

@media (min-width: 1920px) {
  .movie-card-info__tags__tag {
    font-size: 19px;
  }
}

@media (min-width: 3840px) {
  .movie-card-info__tags__tag {
    margin: 10px;
    padding: 7px 20px;
    font-size: 27px;
    border-radius: 10px;
  }
}
